---
import Logo from "@/components/Logo.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";

const {
  footer_bottom,
  footer_top,
}: {
  footer_bottom: { name: string; url: string }[];
  footer_top: { name: string; url: string }[];
} = menu;
const { footer_logo }: { footer_logo: string } = config.site;
---

<footer
  class="bg-theme-dark rounded-t-[2rem] pb-10 pt-12 md:rounded-t-[80px] md:pt-16 2xl:pt-24"
>
  <div class="container">
    <div class="row items-center justify-center pb-10 lg:justify-between">
      <div class="col-auto">
        <a href="/">
          <!-- <Image
            height={40}
            width={160}
            src="/images/logo-light.png"
            alt="docbox"
          /> -->
          <Logo src={footer_logo} />
        </a>
      </div>
      <div class="col-12 pt-10 lg:col-auto lg:pt-0">
        <ul
          class="flex flex-wrap justify-center gap-x-6 gap-y-4 font-secondary text-white lg:justify-end lg:gap-10"
        >
          {
            footer_top.map((item) => (
              <li>
                <a
                  href={item.url}
                  class="transition-colors duration-300 hover:text-primary"
                >
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <!-- End Footer First Row -->
    <hr
      class="h-[1px] border-0 border-b border-border border-opacity-20 bg-transparent"
    />
    <!-- End Footer Row Divider  -->
    <div class="xl:gy-0 row gy-4 items-center justify-center pt-10">
      <div class="order-3 col-auto xl:order-none">
        <p class="copyright" set:html={markdownify(config.params.copyright)} />
      </div>
      <!-- End Copyright -->
      <div class="order-1 col-auto xl:order-none">
        <ul
          class="flex flex-wrap justify-center gap-x-6 gap-y-2 font-secondary text-sm font-normal text-light/60 text-opacity-50 lg:justify-start"
        >
          {
            footer_bottom.map((item) => (
              <li>
                <a
                  href={item.url}
                  class="transition-colors duration-300 hover:text-primary"
                >
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <!-- End Menu -->
      <div class="col-12 order-2 xl:order-none xl:col-auto xl:ml-auto">
        <Social source={social.main} className="social-icons" />
      </div>
      <!-- End Social Link -->
    </div>
    <!-- End Footer Second Row -->
  </div>
</footer>
