---
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import Changelog from "@/partials/Changelog.astro";
import Contact from "@/partials/Contact.astro";
import Faq from "@/partials/Faq.astro";

export const getStaticPaths = async () => {
  const landing_pages = await getSinglePage("landing-pages");
  const pages = await getSinglePage("regular-pages");
  const allpages = [...pages, ...landing_pages];
  const paths = allpages.map((page: any) => {
    return {
      params: {
        regular: page.slug,
      },
      props: page,
    };
  });
  return paths;
};

const page = Astro.props;
const { title, meta_title, description, image, header_alt } = page.data;
const { regular } = Astro.params;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
  header_alt={header_alt}
>
  {
    regular === "faq" ? (
      <Faq faq={page.data} />
    ) : regular === "changelog" ? (
      <Changelog changelog={page} />
    ) : regular === "contact" ? (
      <Contact contact={page.data} />
    ) : (
      <section class="section-md mb-14 rounded-b-[2rem] bg-theme-light md:mb-16 md:rounded-b-[80px]">
        <div class="container">
          <div class="row">
            <div class="mx-auto rounded-t-2xl bg-white pb-0 pt-8 text-center md:col-10 md:px-10 md:pt-16">
              <h1 class="text-h1-sm mb-2 text-dark md:mb-3 md:text-h1-md lg:text-h1">
                {title}
              </h1>
              {page.date && (
                <p class="text-sm font-medium md:text-h5">
                  {new Intl.DateTimeFormat("en-US", {
                    weekday: "short",
                    month: "short",
                    day: "numeric",
                    year: "numeric",
                  }).format(new Date(page.date))}
                </p>
              )}
            </div>
            <div class="mx-auto rounded-b-2xl bg-white md:col-10 md:px-10 md:pb-12">
              <div
                class="content prose max-sm:px-0"
                set:html={markdownify(page.body, true)}
              />
            </div>
          </div>
        </div>
      </section>
    )
  }
</Base>
